{% extends "base.html" %}
{% block films_active %}active{% endblock %}

{% block content %}
<section class="py-4">

    <div class="searchbar-bundle">
        <div class="sort-dropdown">
            <button class="btn text-center me-lg-3 d-flex align-items-center justify-content-center text-white"><i
                    class="bi bi-filter pe-1"></i>Trier</button>
            <div class="sort-content">
                <div>
                    <input type="checkbox" name="chkName" id="chkName" class="form-check-input form-check-inline">
                    <label for="chkName" class="form-check-label">Ordre alphanumérique</label>
                </div>
                <div>
                    <input type="checkbox" name="chkDate" id="chkDate" class="form-check-input  form-check-inline">
                    <label for="chkDate" class="form-check-label">Année de sortie</label>
                </div>
                <div>
                    <input type="checkbox" name="chkNote" id="chkNote" class="form-check-input  form-check-inline">
                    <label for="chkNote" class="form-check-label">Note</label>
                </div>
                
                
            </div>
        </div>
        <div class="w-100 searchbar-suggestions-container">
            <input type="text" class="form-control" placeholder="Rechercher un film..." id="search">
            <div class="searchbar-suggestions cacher" id="divSuggestions">
                <ul id="listeSuggestions">
                    <li class="d-flex justify-content-center">
                        <div class="race-by"></div>
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" id="btnSearch"
            class="btn ms-lg-3 d-flex align-items-center justify-content-center text-white"><i
                class="bi bi-arrow-return-right pe-1"></i>Rechercher</button>
    </div>
</section>
<section class="d-flex flex-wrap gap-3 justify-content-center">

    {% for film in films %}
    <div class="card-film">
        <a href="/film/{{film._id}}"><img src="{{film.Poster}}" alt="Photo du film {{film.Title}}" class="card-img"></a>
        <p class="card-film-title m-0">{{film.Title}}<br>{{film.Released}}</p>
        <div class="card-film-note-meta m-0">
            <img class="img-meta" src="../static/images/films/Metacritic_M.png" alt="Metascore">
            <p class="m-0">{{film.Metascore}}</p>
        </div>
    </div>
    {% endfor %}

    
</section>
{% endblock %}