{% extends "base.html" %}

{% block content %}
<section class="mt-4">
        <h1>
            {% if utilisateur.is_premium %}
            <div class="tooltip-premium">
                <i class="bi bi-star-fill premium-color"></i>
                <span class="tooltiptext-premium">Utilisateur premium</span>
            </div>
            {% endif %} 
            {{utilisateur.first}} {{utilisateur.last}}
        </h1>
</section>
<section class="mt-3">
    {% if utilisateur.is_admin %}
        <div class="info-user">
            <p class="text-info">Vous êtes admin</p>
            <a href="#" id="btn-personnalise" class="btn btn-primary">Personnaliser votre profil</a>
        </div>
        <div>
            <p>Votre karma : {{utilisateur.karma}}</p>
        </div>
    {% else %}
        <div class="info-user">
            <p>Votre karma : {{utilisateur.karma}}</p>
            <a href="#" id="btn-personnalise" class="btn btn-primary">Personnaliser votre profil</a>
        </div>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profil/">Commentaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profil/favoris">Favoris</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profil/visionne">Visionnés</a>
        </li>
    </ul>
</section>


<section class="mt-5">
    <h2>Vos commentaires</h2>
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="comment-card">
                    <div class="comment-card__avatar">
                        <img class="comment-card__avatar__img" src="{{ utilisateur.pfp }}" alt="Profile">
                        <span class="comment-card__content__metadata__nom ms-2 me-auto">
                            <span class="comment-card__content__metadata__name">{{utilisateur.first}} {{utilisateur.last}}</span> <span class="comment-card__content__metadata__username">@{{utilisateur.username}}</span>
                        </span>
                    </div>
                    <div class="comment-card__content">
                        <p class="comment-card__content__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam lacinia velit, at consequat metus aliquet vel.
                        </p>
                        <div class="mini-description">
                            <p class="comment-card__content__metadata">
                                <span class="comment-card__content__metadata__film-title">Film : Black Panther</span>
                            </p>
                            <p class="comment-card__content__metadata">
                                <span class="comment-card__content__metadata__comment-date">Posté le 27 septembre, 2023</span>
                            </p>
                        </div>                        
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
{% endblock %}