@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.navbar, footer{
    background-color: rgb(255, 208, 0);
}

.mb-80px{
    margin-bottom: 80px;
}

.logo-navbar{
    width: 15vw;
    padding-bottom: 15px;
}

.profile-btn{
    border-radius: 50%;
    border-style: none; 
    overflow: hidden;
    padding: 0;
    width: 5vw;
    height: 5vw;

    .profile-img{
        width: 100%;
    }
}

.searchbar-bundle{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;

    button{
        background-color: rgb(0, 0, 0);
        transition: background-color 0.8s;

        &:hover{
            background-color: rgb(0, 0, 0, 0.8);
        }

        &:active{
            background-color: rgb(0, 0, 0, 0.8);
        }
    }
    
    i{
        font-size: 1.5rem;
    }
}

.sort-dropdown{
    position: relative;
    display: inline-block;
    &:hover{
        .sort-content{
            display: block;
        }
    }
}



.sort-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 100%;
}



.scroller{
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 16px;
        border-radius: 0 0 15px 15px;
      }
    
    &::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 0 0 15px 15px;
      }
    
    &::-webkit-scrollbar-thumb {
        background-color: #000000;
        border-radius: 10px;
        border: 3px solid #ffffff;
      }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
        
    }
}

.card-film{
    display: inline-block;
    width: 300px;
    border-radius: 10px;
    border-style: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    
    &:hover{
        .card-img{
            transform: scale(1.1);
        }

        .card-film-title{
            animation: text_entrance_card_film 0.8s ease 0s 1 normal forwards;
        }
    }

    .card-img{
        width: 100%;
        transition: 0.5s;
        
    }

    .card-film-title{
        position: absolute;
        bottom: 0;
        background : #ffd000;
        color: rgb(0, 0, 0);
        font-weight: bold;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        transition: 0.5s;
        opacity: 0;
    }
}




@media (max-width: 992px) {
    .logo-navbar{
        width: 20vw;
        padding : 0;
    }
    .profile-btn{
        width: 10vw;
        height: 10vw;
    }
    .searchbar-bundle{
        flex-direction: column;
        button{
            width: 100%;
        }
    }

    .sort-dropdown{
        width: 100%;
    }

    .card-film-title{
        opacity: 1 !important;
        animation: none !important;
    }

}

@media (max-width: 768px) {
    .logo-navbar{
        width: 25vw;
    }
    .profile-btn{
        width: 15vw;
        height: 15vw;
    }
}

@media (max-width: 576px) {
    .logo-navbar{
        width: 40vw;
    }
    .profile-btn{
        width: 20vw;
        height: 20vw;
    }
}

@keyframes text_entrance_card_film {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}






