@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

$jaune: rgb(255, 208, 0);


body{
    position: relative;

    .intro{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        background-color: black;
        width: 100%;
        height: 100vh;
        transition: 1s;
    }

    .logo-header{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .logo{
        position: relative;
        display: inline-block;
        bottom: -20px;
        opacity: 0;
        width: 100%;
        height: 100px;

        &.active{
            opacity: 1;
            bottom: 0;
            transition: ease-in-out 0.5s;
        }

        &.fade{
            bottom: 150px;
            opacity: 0;
            transition: ease-in-out 0.5s;
        }
    }
}







.navbar, footer{
    background-color: $jaune;
}

.mb-80px{
    margin-bottom: 80px;
}

.logo-navbar{
    width: 15vw;
    padding-bottom: 15px;
}

.is-logout-active{
    display: none;
}

.profile-btn{
    
    border-style: none;
    padding: 0;
    
    .profile-img{
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
    }

    
}

.dropdown-profile-container{
    position: relative;
    display: inline-block;
    &:hover{
        .dropdown-profile{
            display: block;
        }   
        padding-left: 20px;
    }

    

    .dropdown-profile{
        position: absolute;
        text-align: start;
        right: 100%;
        top: 0;
        z-index: 1000;
        display: none;
        color: white;
        transition: opacity 0.5s;



        &::before {
            width: 25px;
            height: 25px;
            background: black;
            content: "";
            display: block;
            position: absolute;
            right: -6.3%;
            top: 9.4%;
            transform: rotate(45deg);
            z-index: -1;
        }

        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @extend .dropdown-item;
            padding: 6px 12px ;
            background-color: rgb(0, 0, 0);
            &:hover{
                background-color: rgb(19, 19, 19);
            }


            i{
                font-size: 1.5rem;
            }
        }
    }
}



.searchbar-bundle{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;

    button{
        background-color: rgb(0, 0, 0);
        transition: background-color 0.8s;

        &:hover{
            background-color: rgb(0, 0, 0, 0.8);
        }

        &:active{
            background-color: rgb(0, 0, 0, 0.8);
        }
    }
    
    i{
        font-size: 1.5rem;
    }
}

.sort-dropdown{
    position: relative;
    display: inline-block;
    &:hover{
        .sort-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
}



.sort-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 255px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    width: 100%;
    div{
        width: 100%;
        text-align: start;
    }
}

.cacher{
    display: none;
}

.searchbar-suggestions-container{
    position: relative;
    z-index: 1000;
    
    .searchbar-suggestions{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                padding: 1rem;
                border-top: 1px solid #eee;
                text-align: center;
                color: white;
                &:hover{
                    background: #ffffff;
                    color: #212121;
                    a{
    
                        color: #212121;
                    }
    
                    .race-by{
                        --uib-color: black
                    }
                }

                a{

                    color: white;
                }
            }
            position: absolute;
            z-index: 1000;
            top: 100%;
            left: 0;
        
            background: #161616;
            width: 100%;
            max-height: 400px;
        
            overflow: scroll;
            overflow-y: auto;
            overflow-x: hidden;
          
        }
        
        
        
    }
}
.scroller-container{
    position: relative;

    .left-arrow{
        color: white;
        font-size: 1.5rem;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        width: 50px;
        height: 50px;
        z-index: 100;
        top: 50%;
        left: -2%;
        transform: translateY(-50%) translateX(2%);
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            cursor: pointer;
            background-color: $jaune;
            color: black;
        }
    }

    .right-arrow{
        color: white;
        font-size: 1.5rem;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        z-index: 100;
        width: 50px;
        height: 50px;
        right: -2%;
        top: 50%;
        transform: translateY(-50%) translateX(-2%);
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
        &:hover{
            cursor: pointer;
            background-color: $jaune;
            color: black;
        }
    }
}

.scroller{
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    width: 100%;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;


    &::-webkit-scrollbar {
        width: 16px;
        border-radius: 0 0 15px 15px;
      }
    
    &::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 0 0 15px 15px;
      }
    
    &::-webkit-scrollbar-thumb {
        background-color: #000000;
        border-radius: 10px;
        border: 3px solid #ffffff;
      }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
        
    }
}

.card-film{
    display: inline-block;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    border-style: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    
    &:hover{
        .card-img{
            transform: scale(1.1);
        }

        .card-film-title{
            animation: text_entrance_card_film 0.8s ease 0s 1 normal forwards;
        }
        .delete-button{
            opacity: 1;
        }
        
    }

    .card-img{
        width: 100%;
        transition: 0.5s;

    }

    .card-film-title{
        position: absolute;
        bottom: 0;
        background : $jaune;
        color: rgb(0, 0, 0);
        font-weight: bold;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        transition: 0.5s;
        opacity: 0;
    }

    .card-film-note-meta {
        position: absolute;
        top: 15px;
        right: 10px;
        background: #00ce7a;
        color: #000000;
        border-radius: 5px;
        padding: 10px 10px;
        z-index: 1;
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        font-size: large;
    }

    .card-film-note-imdb{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 55px;
        height: 55px;
        color: #000000;
        font-weight: bold;
    }

    .img-meta{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .imdb{
        background-color: #ffd000;
        color: #000000;
    }

    .img-star{
        width: 75px;
        height: 75px;

    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
      }
    
}

.profil-card-film{

    .card-film{
        width: auto !important; 
    }
    .delete-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #f00;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        transition: opacity 0.5s;
        text-decoration: none;
        opacity: 0;
    
        &:hover {
          opacity: 0.8;
        }
    }
}


.premium-color{
    color: #ebaa1e;  
}


.info-user{
    display: flex;
    justify-content: space-between;
}

.mini-description{
    display: flex;
    justify-content: space-between;
}


.img-fav-vis{
    height: 300px; 
    object-fit: cover; 
    object-position: top;
}



// Container du Commentaire
.comment-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 100%; 
  
    // Avatar du User
    &__avatar {
        height: 55px;       
        background-color: rgb(0, 0, 0); 
        border-radius: 5px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        //Image de l'avatar
        &__img {
            width: 40px;
            border-radius: 5px;
            margin-left: 10px;
        } 
    }
    //Le contenu du commentaire
    &__content {
        font-size: 16px;
        line-height: 1.5;

        //La discription du film
        &__description {
            margin-top: 10px;
            margin-bottom: 5px;
        }
        
        //Les data du commentaire
        &__metadata {
            font-size: 14px;
            color: #666;
            margin-top: 8px;

            &__film-title {
                font-weight: bold;
            }
  
            &__nom {
                font-weight: bold;
                color: #ffffff;
            }
            &__username{
                color: $jaune;
            }
  
            &__comment-date {
                color: #999;
            }
        }
    }
}

.tooltip-premium {
    position: relative;
    display: inline-block;
}
  
.tooltip-premium {
    .tooltiptext-premium {
        opacity: 0;

        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        bottom: 100%;
        left: 0;
        font-size: 10px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        transition: 0.2s
    }

}
  
.tooltip-premium:hover .tooltiptext-premium {
opacity: 1;
}

.div-metascore-details-film{
    *{
        margin: 0;
    }
    position: relative;
    width: 75px;
    height: 75px;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 5px;
    p{
        color: black;
    }
    img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;

    }
}

#poster-details-film{
    height: fit-content;
    width: 30%;
    @extend .mb-3;
}



.race-by {
    --uib-size: 80px;
    --uib-speed: 1.4s;
    --uib-color: white;
    --uib-line-weight: 5px;
  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    border-radius: calc(var(--uib-line-weight) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .race-by::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    opacity: 0.1;
  }
  
  .race-by::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(var(--uib-line-weight) / 2);
    animation: raceBy var(--uib-speed) ease-in-out infinite;
    transform: translateX(-100%);
    background-color: var(--uib-color);
  }
  
  @keyframes raceBy {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  };












@media (max-width: 992px) {

    .is-logout-active{
        display: block;
    }
    ::-webkit-scrollbar {
        display: none;
        width: 16px;
        border-radius: 0 0 15px 15px;
      }
 

    .logo-navbar{
        width: 20vw;
        padding : 0;
    }
    .profile-img{
        width: 10vw !important;
        height: 10vw !important;
    }


    .dropdown-profile-container{
        
        .dropdown-profile{
            bottom: 15%;
            top: initial;
            left: 105%;
            right: initial;

            &::before{
                left: -6.3%;
                bottom: 9.4%;
                right: initial;
                top: initial;
            }
        }

        &:hover{
            padding-left: 0;
            padding-right : 20px ;
        }
    }



    .searchbar-bundle{
        flex-direction: column;
        button{
            width: 100%;
        }
    }

    .sort-dropdown{
        width: 100%;
    }

    .scroller-container{
        .left-arrow{
            display: none;
        }
        .right-arrow{
            display: none;
        }
    }

    .info-user{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #btn-personnalise{
        display: flex;
        margin-bottom: 20px;
    }

    

    .card-film-title{
        opacity: 1 !important;
        animation: none !important;
    }
}

.icon-favoris{
    color: black;
    &:hover{
        color: rgb(255, 0, 162);
    }
}

.icon-en-favoris{
    color: rgb(255, 0, 162);
    &:hover{
        color: black;
    }
}

.like-dislike-buttons {
    display: flex;
    
}

.btn-like{
    background-color: white;
    color: black;
    padding: 16px 5px 16px 0px;
    
    &:hover{ 
        color: black;
    }
}

.like-group{
    margin-right: 10px;
}



.btn-dislike{
    background-color: white;
    color: black;
    padding: 16px 5px 16px 0px;
    &:hover{ 
        color: black;
    }
}


@media (max-width: 768px) {
    .logo-navbar{
        width: 25vw;
    }
    .profile-img{
        width: 15vw !important;
        height: 15vw !important;
    }
    .info-user{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #btn-personnalise{
        display: flex;
        margin-bottom: 20px;
    }

    #poster-details-film{
        height: 400px !important;
        width: 100% !important;
        object-fit: contain !important;

    }
}

@media (max-width: 576px) {
    .logo-navbar{
        width: 40vw;
    }
    .profile-img{
        width: 20vw !important;
        height: 20vw !important;
    }
    .info-user{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #btn-personnalise{
        display: flex;
        margin-bottom: 20px;
    }

    .nav-tabs{
        flex-direction: column !important; 
    }

    .mini-description{
        flex-direction: column;
    }
}

// POUR LE MINIMUM D'AFFICHAGE ( GALAXY FOLD )
@media (max-width: 280px){
    .comment-card {
        
      
        // Avatar du User
        
        //Le contenu du commentaire
        &__content {
            
    
            //La discription du film
            
            
            //Les data du commentaire
            &__metadata {
                
      
                &__nom {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }

                &__name{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

@keyframes text_entrance_card_film {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}






