{% extends "base.html" %}
{% block content %}
<div class="d-lg-flex d-md-flex gap-4 pt-4">

    <img src="{{ film.Poster }}" alt="{{ film.Title }}" style="height: fit-content; width: 30%;" id="poster-details-film">

    <div class="d-flex flex-column flex-grow-1">
        <div class="d-flex justify-content-between">
            <h2 class="fw-bold m-0">{{ film.Title }}</h2>
            {% if utilisateur %}
            <div class="d-flex">
                {% if is_visionne %}
                    <form action="/film/{{film._id}}" method="POST">
                        <input type="hidden" name="id_film" value="{{film._id}}">
                        <button id="btnVisionne" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Retirer des visionnés" type="submit" name="form3" class="btn btn-secondary p-0"><i class="bi bi-eye-fill display-4 me-4 text-info"></i></button>
                    </form>
                {% else %}
                    <form action="/film/{{film._id}}" method="POST">
                        <input type="hidden" name="id_film" value="{{film._id}}">
                        <button id="btnVisionne" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Ajouter aux visionnés" type="submit" name="form3" class="btn btn-secondary p-0"><i class="bi bi-eye-slash-fill display-4 me-4"></i></button>
                    </form>
                {% endif %}
                {% if is_favoris %}
                <form action="/film/{{film._id}}" method="POST">
                    <input type="hidden" name="id_film" value="{{film._id}}">
                    <button data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Retirer des favoris" type="submit" name="form1" class="btn btn-secondary p-0"><i class="bi bi-heart-fill display-4 icon-en-favoris"></i></button>
                </form>
                {% else %}
                <form action="/film/{{film._id}}" method="POST">
                    <input type="hidden" name="id_film" value="{{film._id}}">
                    <button data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Ajouter aux favoris" type="submit" name="form1" class="btn btn-secondary p-0"><i class="bi bi-heart-fill display-4 icon-favoris"></i></button>
                </form>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <p><span class="fw-bold">Date de sortie :</span> {{film.Released}}</p>
        <hr width="100%">
        <p><span class="fw-bold">Réalisateur :</span> {{film.Director}}</p>
        <p><span class="fw-bold">Acteurs :</span> {{film.Actors}}</p>
        <p><span class="fw-bold">Genre :</span> {{film.Genre}}</p>
        <p><span class="fw-bold">Durée :</span> {{film.Runtime}}</p>
        <p><span class="fw-bold">Pays :</span> {{film.Country}}</p>
        <p><span class="fw-bold">Langue :</span> {{film.Language}}</p>
        <p><span class="fw-bold">Synopsis :</span> {{film.Plot}}</p>
        <hr width="100%">
        <div class="mb-2">
            <p>M E T A S C O R E</p>
            {% if film.Metascore == "N/A" %}
            <div class="div-metascore-details-film">
            {% elif film.Metascore <= 25 %}
            <div class="div-metascore-details-film bg-danger">
            {% elif film.Metascore <= 50 %}
            <div class="div-metascore-details-film bg-warning">
            {% elif film.Metascore <= 75 %}
            <div class="div-metascore-details-film bg-info">
            {% elif film.Metascore <= 100 %}
            <div class="div-metascore-details-film bg-success">
            {% endif %}
                <img src="/static/images/films/Metacritic_M.png" alt="Metacritic_M">
                <p>{{film.Metascore}}</p>
            </div>
        </div>
        {% if film.Metascore == "N/A" %}
        <p>Aucun avis sur ce film</p>
        {% elif film.Metascore <= 25 %}
        <p class="">Pas dutout apprécié</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar bg-danger" role="progressbar" data-width="{{film.Metascore}}" aria-valuenow="{{film.Metascore}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif film.Metascore <= 50 %}
        <p class="">Peu apprécié</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar bg-warning" role="progressbar" data-width="{{film.Metascore}}" aria-valuenow="{{film.Metascore}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif film.Metascore <= 75 %}
        <p class="">Généralement apprécié</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar bg-info" role="progressbar" data-width="{{film.Metascore}}" aria-valuenow="{{film.Metascore}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif film.Metascore <= 100 %}
        <p class="">Très apprécié</p>
        <div class="progress">
            <div id="progress-bar" class="progress-bar bg-success" role="progressbar" data-width="{{film.Metascore}}" aria-valuenow="{{film.Metascore}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% endif %}
        {% set metascore = film.Metascore %}
        <script defer>
            // Définir la variable JavaScript dans une balise Jinja2
            var dataWidth = document.querySelector('#progress-bar').dataset.width;
            // Utiliser la variable dans votre code JavaScript
            window.onload = function(){
                document.querySelector("#progress-bar").style.width = dataWidth + "%";
            };
        </script>

        {% if film.Metascore == "N/A" %}
        <p class="text-center">Aucune note</p>
        {% else %}
        
        {% endif %}
        
        
    </div>

    
    
</div>

<div>
    <hr width="100%">
    <div>
        <h2>Ajouter un commentaire</h2>
        <form method="POST" action="/film/{{film._id}}" id="form-ajout-commentaire" novalidate>
            <label for="commentaire">Votre commentaire</label>
            {% if not utilisateur %}
            <p class="text-center text-danger border border-danger mb-2">Vous devez être connecté pour pouvoir commenter</p>
            {% endif %}
            <div class="d-flex">
                <textarea class="form-control me-2" id="commentaire" name="commentaire" rows="3"  {% if not utilisateur %}disabled{% endif %}></textarea>
                <button type="submit" name="from2" class="btn btn-primary" id="submit_commentaire" {% if not utilisateur %}disabled{% endif %}><i class="bi bi-send-plus fs-1"></i></button>
            </div>
        </form>
        {% if message_erreur %}
        <p class="text-center text-black border border-danger mb-2 bg-danger mt-2">{{message_erreur}}</p>
        {% endif %}
    </div>
    

    

    <div class="section-commentaire">
        {% for commentaire in commentaires %}
            {% if not commentaire.isDeleted %}
                <div class="comment-card mt-2">
                    <div class="comment-card__avatar">
                        <img class="comment-card__avatar__img" src="{{ commentaire.utilisateur.pfp }}" alt="Profile">
                        <span class="comment-card__content__metadata__nom ms-2 me-auto">
                            <span class="comment-card__content__metadata__name">{{commentaire.utilisateur.first}} {{commentaire.utilisateur.last}}</span> <span class="comment-card__content__metadata__username">@{{commentaire.utilisateur.username}}</span>
                        </span>
                        {% if utilisateur and commentaire.utilisateur._id == utilisateur._id or utilisateur.is_admin %}
                            <form action="/film/{{film._id}}/commentaire/{{commentaire._id}}/supprimer" method="POST">
                                <button class="bg-danger border-0 rounded-3 me-2" style="width: 40px; height: 40px;" ><i class="bi bi-trash3 fs-3"></i></button>
                            </form>
                        {% endif %}
                        
                    </div>
                    <div class="comment-card__content">
                        <p class="comment-card__content__description">
                            {{commentaire.description}}
                        </p>
                        <div class="mini-description">
                            <p class="comment-card__content__metadata">
                                <span class="comment-card__content__metadata__film-title">Film : {{film.Title}}</span>
                            </p>
                            <p class="comment-card__content__metadata">
                                <span class="comment-card__content__metadata__comment-date">Posté le {{commentaire.date_post}}</span>
                            </p>
                        </div>
                        {% if commentaire.is_critique %}
                            {% if commentaire.is_like %}
                                <div class="like-dislike-buttons">
                                    <div class="fs-4 d-flex align-items-baseline like-group">
                                        <form action="/film/{{film._id}}" method="POST">
                                            <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                            <button class="btn btn-like me-1" type="submit" name="form4"><i class="fs-4 bi bi-hand-thumbs-up-fill"></i></button>
                                        </form>
                                        <p class="fw-semibold">{{commentaire.like_up}}</p>
                                    </div>
                                    <div class="fs-4 d-flex align-items-baseline dislike-group">
                                        <form action="/film/{{film._id}}" method="POST">
                                            <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                            <button class="btn btn-dislike me-1" type="submit" name="form5"><i class="fs-4 bi bi-hand-thumbs-down"></i></button>
                                        </form>
                                        <p class="fw-semibold">{{commentaire.like_down}}</p>
                                    </div>
                                </div>  
                            {% else %}  
                                <div class="like-dislike-buttons">
                                    <div class="fs-4 d-flex align-items-baseline like-group">
                                        <form action="/film/{{film._id}}" method="POST">
                                            <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                            <button class="btn btn-like me-1" type="submit" name="form4"><i class="fs-4 bi bi-hand-thumbs-up"></i></button>
                                        </form>
                                        <p class="fw-semibold">{{commentaire.like_up}}</p>
                                    </div>
                                    <div class="fs-4 d-flex align-items-baseline like-group">
                                        <form action="/film/{{film._id}}" method="POST">
                                            <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                            <button class="btn btn-dislike me-1" type="submit" name="form5"><i class="fs-4 bi bi-hand-thumbs-down-fill"></i></button>
                                        </form>
                                        <p class="fw-semibold">{{commentaire.like_down}}</p>
                                    </div>
                                </div>   
                            {% endif %}    
                        {% else %}  
                            <div class="like-dislike-buttons">
                                <div class="fs-4 d-flex align-items-baseline like-group">
                                    <form action="/film/{{film._id}}" method="POST">
                                        <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                        <button class="btn btn-like me-1" type="submit" name="form4"><i class="fs-4 bi bi-hand-thumbs-up"></i></button>
                                    </form>
                                    <p class="fw-semibold">{{commentaire.like_up}}</p>
                                </div>
                                <div class="fs-4 d-flex align-items-baseline like-group">
                                    <form action="/film/{{film._id}}" method="POST">
                                        <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                        <button class="btn btn-dislike me-1" type="submit" name="form5"><i class="fs-4 bi bi-hand-thumbs-down"></i></button>
                                    </form>
                                    <p class="fw-semibold">{{commentaire.like_down}}</p>
                                </div> 
                            </div>  
                        {% endif %}
                    </div>
                </div> 
            {% else %}
                {% if utilisateur.is_admin %}
                <div class="comment-card mt-2 opacity-75">
                    <div class="comment-card__avatar">
                        <img class="comment-card__avatar__img" src="{{ commentaire.utilisateur.pfp }}" alt="Profile">
                        <span class="comment-card__content__metadata__nom ms-2 me-auto">
                            <span class="comment-card__content__metadata__name">{{commentaire.utilisateur.first}} {{commentaire.utilisateur.last}}</span> <span class="comment-card__content__metadata__username">@{{commentaire.utilisateur.username}}</span>
                        </span>
                            <form action="/film/{{film._id}}/commentaire/{{commentaire._id}}/reactiver" method="POST">
                                <button class="bg-success border-0 rounded-3 me-2" style="width: 40px; height: 40px;" ><i class="bi bi-check2-all fs-3"></i></button>
                            </form>
                    </div>
                    <div class="comment-card__content">
                        <p class="comment-card__content__description">
                            {{commentaire.description}}
                        </p>
                        <div class="mini-description">
                            <p class="comment-card__content__metadata">
                                <span class="comment-card__content__metadata__film-title">Film : {{film.Title}}</span>
                            </p>
                            <p class="comment-card__content__metadata">
                                <span class="comment-card__content__metadata__comment-date">Posté le {{commentaire.date_post}}</span>
                            </p>
                        </div>                        
                    </div>
                    {% if commentaire.is_critique %}
                            {% if commentaire.is_like %}
                                <div class="like-dislike-buttons">
                                    <div class="fs-4 d-flex align-items-baseline like-group">
                                        <form action="/film/{{film._id}}" method="POST">
                                            <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                            <p><i class="fs-4 bi bi-hand-thumbs-up-fill"></i></p>
                                        </form>
                                        <p class="fw-semibold">{{commentaire.like_up}}</p>
                                    </div>
                                    <div class="fs-4 d-flex align-items-baseline dislike-group">
                                        <form action="/film/{{film._id}}" method="POST">
                                            <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                            <p><i class="fs-4 bi bi-hand-thumbs-down"></i></p>
                                        </form>
                                        <p class="fw-semibold">{{commentaire.like_down}}</p>
                                    </div>
                                </div>  
                            {% else %}  
                                <div class="like-dislike-buttons">
                                    <div class="fs-4 d-flex align-items-baseline like-group">
                                        <form action="/film/{{film._id}}" method="POST">
                                            <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                            <p><i class="fs-4 bi bi-hand-thumbs-up"></i></p>
                                        </form>
                                        <p class="fw-semibold">{{commentaire.like_up}}</p>
                                    </div>
                                    <div class="fs-4 d-flex align-items-baseline like-group">
                                        <form action="/film/{{film._id}}" method="POST">
                                            <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                            <p><i class="fs-4 bi bi-hand-thumbs-down-fill"></i></p>
                                        </form>
                                        <p class="fw-semibold">{{commentaire.like_down}}</p>
                                    </div>
                                </div>   
                            {% endif %}    
                        {% else %}  
                            <div class="like-dislike-buttons">
                                <div class="fs-4 d-flex align-items-baseline like-group">
                                    <form action="/film/{{film._id}}" method="POST">
                                        <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                        <p><i class="fs-4 bi bi-hand-thumbs-up"></i></p>
                                    </form>
                                    <p class="fw-semibold">{{commentaire.like_up}}</p>
                                </div>
                                <div class="fs-4 d-flex align-items-baseline like-group">
                                    <form action="/film/{{film._id}}" method="POST">
                                        <input type="hidden" name="id_commentaire" value="{{commentaire._id}}">
                                        <p><i class="fs-4 bi bi-hand-thumbs-down"></i></p>
                                    </form>
                                    <p class="fw-semibold">{{commentaire.like_down}}</p>
                                </div> 
                            </div>  
                        {% endif %}
                    <p class="text-center text-danger m-0">Ce commentaire a été supprimé. Pour le réactiver cliquer sur la coche verte</p>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        
    </div>

    
        
    
</div>

{% endblock %}