{% extends "base.html" %}
{% block accueil_active %}active{% endblock %}
{% block content %}

    <section class="pt-4">
        <div class="searchbar-bundle">
            <div class="sort-dropdown">
                <button class="btn text-center me-lg-3 d-flex align-items-center justify-content-center text-white"><i class="bi bi-filter pe-1"></i>Trier</button>
                <div class="sort-content">
                    <div>
                        <input type="checkbox" name="chk1" id="chk1" class="form-check-input form-check-inline">
                        <label for="chk1" class="form-check-label">Lorem</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chk1" id="chk1" class="form-check-input  form-check-inline">
                        <label for="chk1" class="form-check-label">Lorem</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chk1" id="chk1" class="form-check-input  form-check-inline">
                        <label for="chk1" class="form-check-label">Lorem</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chk1" id="chk1" class="form-check-input  form-check-inline">
                        <label for="chk1" class="form-check-label">Lorem</label>
                    </div>
                    
                    
                </div>
            </div>
            
            <input type="text" class="form-control" placeholder="Rechercher un film...">
            <button type="submit" class="btn ms-lg-3 d-flex align-items-center justify-content-center text-white"><i class="bi bi-arrow-return-right pe-1"></i>Rechercher</button>
        </div>
    </section>
    <section class="pt-5">
        <h4>Récentes sorties en salle</h4>
        <div class="scroller-container">
            <div class="left-arrow" id="left-arrow-recents">
                <i class="bi bi-caret-left-fill"></i>
            </div>
            <div class="scroller mb-80px" id="scroller-recents">
                {% for film in films %}
                  <div class="card-film">
                      <a href="#"><img src="{{film.Poster}}" alt="Photo du film {{film.Title}}" class="card-img"></a>
                      <p class="card-film-title m-0">{{film.Title}}<br>{{film.Released}}</p>
                  </div>
                {% endfor %}
            </div>
            <div class="right-arrow" id="right-arrow-recents">
                <i class="bi bi-caret-right-fill"></i>
            </div>
        </div>
        

        <h4>Les mieux notées</h4>
        <div class="scroller-container">
            <div class="left-arrow" id="left-arrow-bests">
                <i class="bi bi-caret-left-fill"></i>
            </div>
            <div class="scroller" id="scroller-bests">
                <div class=" card-film">
                    <a href=""><img src="../static/images/films/blackpanther.jpg" alt="film" class="card-img"></a>
                    <p class="card-film-title m-0">Black Panther<br>28/09/2023</p>
                </div>
                <div class=" card-film">
                    <a href=""><img src="../static/images/films/blackpanther.jpg" alt="film" class="card-img"></a>
                    <p class="card-film-title m-0">Black Panther<br>28/09/2023</p>
                </div>
                <div class=" card-film">
                    <a href=""><img src="../static/images/films/blackpanther.jpg" alt="film" class="card-img"></a>
                    <p class="card-film-title m-0">Black Panther<br>28/09/2023</p>
                </div>
                <div class=" card-film">
                    <a href=""><img src="../static/images/films/blackpanther.jpg" alt="film" class="card-img"></a>
                    <p class="card-film-title m-0">Black Panther<br>28/09/2023</p>
                </div>
                <div class=" card-film">
                    <a href=""><img src="../static/images/films/blackpanther.jpg" alt="film" class="card-img"></a>
                    <p class="card-film-title m-0">Black Panther<br>28/09/2023</p>
                </div>
                <div class=" card-film">
                    <a href=""><img src="../static/images/films/blackpanther.jpg" alt="film" class="card-img"></a>
                    <p class="card-film-title m-0">Black Panther<br>28/09/2023</p>
                </div>
                <div class=" card-film">
                    <a href=""><img src="../static/images/films/blackpanther.jpg" alt="film" class="card-img"></a>
                    <p class="card-film-title m-0">Black Panther<br>28/09/2023</p>
                </div>
    
            </div>
            <div class="right-arrow" id="right-arrow-bests">
                <i class="bi bi-caret-right-fill"></i>
            </div>
        </div>
        
    </section>



{% endblock %}