{% extends "base.html" %}
{% block content %}

    <form class="form-signin pt-4" method="POST" novalidate>
        <h2 class="form-signin-heading text-center">Inscription</h2>
        <div>
            <label for="first_name" class="sr-only">Prénom</label>
            <input type="text" id="first_name" name="first_name" class="form-control my-2" placeholder="Prénom" autofocus>
            <div class="invalid-feedback">
                Veuillez entrer votre prénom.
            </div>
        </div>
        <div>
            <label for="last_name" class="sr-only">Nom</label>
            <input type="text" id="last_name" name="last_name" class="form-control my-2" placeholder="Nom">
            <div class="invalid-feedback">
                Veuillez entrer votre nom.
            </div>
        </div>
        <div>
            <label for="username" class="sr-only">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" class="form-control my-2" placeholder="Nom d'utilisateur" >
            <div class="invalid-feedback">
                Veuillez entrer votre nom d'utilisateur.
            </div>
        </div>
        <div>
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" name="email" class="form-control my-2" placeholder="Email" >
            <div class="invalid-feedback">
                Veuillez entrer votre email.
            </div>
        </div>
        <div>
            <label for="password1" class="sr-only">Mot de passe</label>
            <input type="password" id="password1" name="password1" class="form-control my-2" placeholder="Mot de passe" >
            <div class="invalid-feedback">
                Veuillez entrer votre mot de passe.
            </div>
        </div>
        <div>
            <label for="password2" class="sr-only">Confirmer le mot de passe</label>
            <input type="password" id="password2" name="password2" class="form-control my-2" placeholder="Confirmer le mot de passe" >
            <div class="invalid-feedback">
                Veuillez confirmer votre mot de passe.
            </div>
        </div>
        <button class="btn btn-primary w-100 my-2" type="submit">S'inscrire</button>
    </form>
    <p class="mt-3 text-center">
        Vous avez déjà un compte? <a href="/login">Se connecter</a>
    </p>

{% endblock %}
